@import url('https://fonts.googleapis.com/css?family=Kaushan+Script');

body {
   text-align: center;
   background-image: url('prism.png');
   color: white;
}

ul {
   list-style-type: none;
   padding-left: 0px;
}

fieldset {
   width: 50%;
   padding: 1.5em;
   margin: auto;
   background-color: silver;
}

legend {
   border-top: 1px solid black;
	border-left: 1px solid black;
	border-right: 1px solid black;
	border-radius: 5px 5px 0px 0px;
	-webkit-border-radius: 5px 5px 0px 0px;
	-moz-border-radius: 5px 5px 0px 0px;
   padding: 0.2em 0.5em;
   text-align: left;
   background-color: silver;
}

h2, legend {
   color: white;
   font-family: 'Kaushan Script', cursive;
}

.field {
   color: maroon;
}

input[type=submit] {
	background: black;
	padding: 8px 15px 8px 15px;
	border: none;
	color: #fff;
}

input[type=submit]:hover {
	background: gray;
	box-shadow:none;
	-moz-box-shadow:none;
	-webkit-box-shadow:none;
}

input[type=text], input[type=password] {
	background: transparent;
	border: none;
	border-bottom: 1px dashed black;
	width: 275px;
	outline: none;
	padding: 0px 0px 0px 0px;
	font-style: italic;
}

textarea {
	font-style: italic;
	padding: 0px 0px 0px 0px;
	background: transparent;
	outline: none;
	border: none;
	border-bottom: 1px dashed black;
	width: 275px;
	overflow: hidden;
	resize:none;
	height:20px;
}

textarea:focus, input[type=text]:focus, input[type=password]:focus {
	border-bottom: 1px dashed white;
}
